In [64]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [65]:
website='https://www.coingecko.com/en'
#req data: name, price, 1h change, 24h change, 7d change, 24h volume, market cap

In [66]:
#get request
response=requests.get(website)
response.status_code #200 means we have made succesful http request

200

In [67]:
soup=BeautifulSoup(response.content,'html.parser') #this soup object gives access to html objects of the page
#soup
results=soup.find('table', {'class':'table-scrollable'}).find('tbody').find_all('tr')
#on using inspect element we see that the page has tables with rows which is what we do to find results
len(results)

100

In [68]:
#name
results[0].find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip() #for the first row
#the argument of find() is obtained using inspect element

#price
results[0].find('td', {'class':'td-price'}).get_text().strip() #for first row

#1h change
results[0].find('td', {'class':'td-change1h'}).get_text().strip()

#24h change
results[0].find('td', {'class':'td-change24h'}).get_text().strip()

#7d change
results[0].find('td', {'class':'td-change7d'}).get_text().strip()

#volume
results[0].find('td', {'class':'td-liquidity_score'}).get_text().strip()

#market cap
results[0].find('td', {'class':'td-market_cap'}).get_text().strip()

'$807,681,949,046'

In [69]:
#100 rows, 7 data points
name=[]
price=[]
change1h=[]
change24h=[]
change7d=[]
volume24h=[]
marketcap=[]

for result in results:
    #name
    try:
        name.append(result.find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
    except:
        name.append('NA')
    #price
    try:
        price.append(result.find('td', {'class':'td-price'}).get_text().strip())
    except:
        price.append('NA')
    #change1h
    try:
        change1h.append(result.find('td', {'class':'td-change1h'}).get_text().strip())
    except:
        change1h.append('NA')
    #change24h
    try:
        change24h.append(result.find('td', {'class':'td-change24h'}).get_text().strip())
    except:
        change24h.append('NA')
    #change7d
    try:
        change7d.append(result.find('td', {'class':'td-change7d'}).get_text().strip())
    except:
        change7d.append('NA')
    #volume24h
    try:
        volume24h.append(result.results[0].find('td', {'class':'td-liquidity_score'}).get_text().strip())
    except:
        volume24h.append('NA')
    #marketcap
    try:
        marketcap.append(result.find('td', {'class':'td-market_cap'}).get_text().strip())
    except:
        marketcap.append('NA')

len(name)

100

In [70]:
crypto_dataframe=pd.DataFrame({'Coin Name':name, 'Price':price, 'Change1h':change1h,'Change24h':change24h,'Change7d':change7d,'Volume':volume24h,'MarketCap':marketcap})
crypto_dataframe

,Coin Name,Price,Change1h,Change24h,Change7d,Volume,MarketCap
0,Bitcoin,"$42,597.07",-0.7%,-2.7%,-1.4%,NA,"$807,681,949,046"
1,Ethereum,"$3,266.39",-1.0%,-2.5%,-4.4%,NA,"$390,223,947,884"
2,Binance Coin,$482.94,-1.0%,-0.5%,1.7%,NA,"$81,386,017,495"
3,Tether,$0.996472,-0.5%,-0.7%,-0.5%,NA,"$78,247,604,253"
4,Solana,$147.54,-1.2%,-2.6%,-2.1%,NA,"$46,316,761,704"
...,...,...,...,...,...,...,...
95,Frax Share,$38.46,-0.5%,5.4%,12.5%,NA,"$1,374,205,480"
96,NEXO,$2.26,-1.2%,-2.1%,-5.4%,NA,"$1,266,836,917"
97,Secret,$7.88,-1.2%,18.5%,28.7%,NA,"$1,245,663,473"
98,DeFi Kingdoms,$20.08,-0.9%,-3.1%,0.8%,NA,"$1,211,592,529"
99,Compound,$189.76,-1.1%,-3.2%,-7.2%,NA,"$1,201,905,571"

In [71]:
#100 rows, 7 data points, 10 pages
name=[]
price=[]
change1h=[]
change24h=[]
change7d=[]
volume24h=[]
marketcap=[]

for page in range (1,11):
    print(page)
    website='https://www.coingecko.com/en?page='+str(page)
    response = requests.get(website)
    soup=BeautifulSoup(response.content,'html.parser')
    results=soup.find('table', {'class':'table-scrollable'}).find('tbody').find_all('tr')

    for result in results:
        #name
        try:
            name.append(result.find('a', {'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
        except:
            name.append('NA')
        #price
        try:
            price.append(result.find('td', {'class':'td-price'}).get_text().strip())
        except:
            price.append('NA')
        #change1h
        try:
            change1h.append(result.find('td', {'class':'td-change1h'}).get_text().strip())
        except:
            change1h.append('NA')
        #change24h
        try:
            change24h.append(result.find('td', {'class':'td-change24h'}).get_text().strip())
        except:
            change24h.append('NA')
        #change7d
        try:
            change7d.append(result.find('td', {'class':'td-change7d'}).get_text().strip())
        except:
            change7d.append('NA')
        #volume24h
        try:
            volume24h.append(result.results[0].find('td', {'class':'td-liquidity_score'}).get_text().strip())
        except:
            volume24h.append('NA')
        #marketcap
        try:
            marketcap.append(result.find('td', {'class':'td-market_cap'}).get_text().strip())
        except:
            marketcap.append('NA')

1
2
3
4
5
6
7
8
9
10

In [72]:
crypto_dataframe=pd.DataFrame({'Coin Name':name, 'Price':price, 'Change1h':change1h,'Change24h':change24h,'Change7d':change7d,'Volume':volume24h,'MarketCap':marketcap})
crypto_dataframe

,Coin Name,Price,Change1h,Change24h,Change7d,Volume,MarketCap
0,Bitcoin,"$42,597.07",-0.7%,-2.7%,-1.4%,NA,"$807,681,949,046"
1,Ethereum,"$3,266.39",-1.0%,-2.5%,-4.4%,NA,"$390,223,947,884"
2,Binance Coin,$482.94,-1.0%,-0.5%,1.7%,NA,"$81,386,017,495"
3,Tether,$0.996472,-0.5%,-0.7%,-0.5%,NA,"$78,247,604,253"
4,Solana,$147.54,-1.2%,-2.6%,-2.1%,NA,"$46,316,761,704"
...,...,...,...,...,...,...,...
995,Polychain Monsters,$5.65,-2.8%,-0.7%,-3.3%,NA,"$18,101,666"
996,Earthcoin,$0.001406624512,-0.1%,0.0%,-4.1%,NA,"$18,081,790"
997,pBTC35A,$83.80,-1.1%,-0.6%,-11.3%,NA,"$18,032,091"
998,ZB Token,$0.241480,-0.5%,-0.1%,-4.7%,NA,"$17,924,974"
999,Convergence,$0.010706566768,-0.9%,-6.4%,0.2%,NA,"$17,852,322"

In [73]:
from openpyxl import Workbook
wb=crypto_dataframe.to_excel('cryptoScrapingResult.xlsx', index=False)